<section id="main" class="container">

    <!-- Title -->
    <header class="major">
        <h2>News</h2>
    </header>

    <!-- Showcase posts -->
    <section class="box">
        <ul class="alt">
                <%
                    for(var i = 0; i < page.posts.length; i++) {

                        var item = page.posts.data[i];

                        // Skip if the item has no categories.
                        if(item.categories.data.length == 0) { continue; }

                        // Skip if the category is not
                        var firstCategory = item.categories.data[0];
                        if(firstCategory.name != "news") { continue; }

                        if(i == 0) {
                %>
                            <li><%- partial('partial/news/news-full', {item: item}) %></li>
                <%
                        }
                        else {
                %>
                            <li><%- partial('partial/news/news-excerpt', {item: item}) %></li>
                <%
                        }
                    }
                %>
        </ul>
    </section>

</section>