<section class="container 75%">
    <header class="major">
        <h2>A huge feature set</h2>
        <p>Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem. Semper blandit. Amet adipiscing interdum.</p>
    </header>
    <div class="row uniform">
        <div class="6u 12u(narrower)">
            <section class="box special">
                <i class="icon major alt fa-bar-chart"></i>
                <h3>Advanced 3D Scenes</h3>
                <p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
                    Amet semper interdum nunc aliquam lobortis id lobortis.</p>
            </section>
        </div>
        <div class="6u 12u(narrower)">
            <section class="box special">
                <i class="icon major alt fa-cog"></i>
                <h3>WebGL or AGAL</h3>
                <p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
                    Amet semper interdum nunc aliquam lobortis id lobortis.</p>
            </section>
        </div>
    </div>
    <div class="row uniform">
        <div class="6u 12u(narrower)">
            <section class="box special">
                <i class="icon major alt fa-desktop"></i>
                <h3>Custom Shaders</h3>
                <p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
                    Amet semper interdum nunc aliquam lobortis id lobortis.</p>
            </section>
        </div>
        <div class="6u 12u(narrower)">
            <section class="box special">
                <i class="icon major alt fa-check"></i>
                <h3>AWD Compatible</h3>
                <p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
                    Amet semper interdum nunc aliquam lobortis id lobortis.</p>
            </section>
        </div>
    </div>
</section>