<section id="banner">
    <h2><%= config.title %></h2>
    <span>[WEBSITE UNDER DEVELOPMENT]</span>
    <p><%= config.subtitle %></p>
    <ul class="actions">
        <li><a href="#" class="button">Get Started</a></li>
    </ul>
</section>