<header id="header" class="">
    <h1><a href="/"><%= config.title %></a></h1>
    <nav id="nav">
        <ul>
            <% for(var i in theme.menu) { %>
                <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
            <% } %>

            <!-- Sub-menu example -->
            <!--<li>-->
                <!--<a href="" class="icon fa-angle-down">Modules</a>-->
                <!--<ul>-->
                    <!--<li><a href="">Core</a></li>-->
                    <!--<li><a href="">Graphics</a></li>-->
                    <!--<li><a href="">Stage</a></li>-->
                    <!--<li><a href="">Scene</a></li>-->
                    <!--<li><a href="">Renderer</a></li>-->
                    <!--<li><a href="">View</a></li>-->
                    <!--<li><a href="">Parsers</a></li>-->
                    <!--<li><a href="">Player</a></li>-->
                    <!--<li><a href="">Materials</a></li>-->
                <!--</ul>-->
            <!--</li>-->

        </ul>
    </nav>
</header>