<div class="wrapper style1">
    <section class="container">
        <header class="major">
            <h2>What is AwayJS?</h2>
            <p>Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem. Semper blandit. Amet adipiscing interdum.</p>
        </header>
        <div class="row uniform">
            <div class="4u 12u(narrower)">
                <section class="box special">
                    <i class="icon major fa-user"></i>
                    <h3>User Friendly</h3>
                    <p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
                </section>
            </div>
            <div class="4u 12u(narrower)">
                <section class="box special">
                    <i class="icon major fa-tint"></i>
                    <h3>Powerful</h3>
                    <p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
                </section>
            </div>
            <div class="4u 12u(narrower)">
                <section class="box special">
                    <i class="icon major fa-cog"></i>
                    <h3>Typed Syntax</h3>
                    <p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
                </section>
            </div>
        </div>
    </section>
</div>