<div class="wrapper style1">
    <section class="container 75%">
        <header class="major">
            <h2>Contact</h2>
            <p>Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem. Semper blandit. Amet adipiscing interdum.</p>
        </header>
        <div id="contact" class="box">
            <div class="row uniform">
                <div class="7u 12u(narrower)">
                    <form method="post" action="#">
                        <div class="row uniform 50%">
                            <div class="12u">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="12u">
                                <input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="12u">
                                <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="12u">
                                <ul class="actions">
                                    <li><input type="submit" value="Send" /></li>
                                    <li><input type="reset" class="alt" value="Reset" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="5u 12u(narrower)">
                    <ul class="labeled-icons">
                        <li>
                            <h3 class="icon fa-map-marker"><span class="label">Address</span></h3>
                            Untitled Corporation<br />
                            1234 Somewhere Rd. Suite 5432<br />
                            Nashville, TN 00000-0000
                        </li>
                        <li>
                            <h3 class="icon fa-phone"><span class="label">Phone</span></h3>
                            (000) 000-0000 x1234
                        </li>
                        <li>
                            <h3 class="icon fa-envelope"><span class="label">Email</span></h3>
                            <a href="#">information@untitled.tld</a>
                        </li>
                        <li>
                            <h3 class="icon fa-twitter"><span class="label">Twitter</span></h3>
                            <a href="#">twitter.com/untitled-tld</a>
                        </li>
                        <li>
                            <h3 class="icon fa-facebook"><span class="label">Facebook</span></h3>
                            <a href="#">facebook.com/untitled-tld</a>
                        </li>
                        <li>
                            <h3 class="icon fa-linkedin"><span class="label">LinkedIn</span></h3>
                            <a href="#">linkedin.com/untitled-tld</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>