<div class="wrapper style3">
    <section class="container">

        <!-- Title -->
        <header class="major">
            <h2>Who's using AwayJS?</h2>
        </header>

        <!-- Showcase Posts -->
        <div class="row">

            <%
            var count = 0;
            for(var i = 0; i < page.posts.length; i++) {
                var item = page.posts.data[i];
                if(item.categories.data.length == 0) { continue; }
                var firstCategory = item.categories.data[0];
                if(firstCategory.name != "showcase") { continue; }
                count++;
                if(count > 3) { break; }
            %>
                <%- partial('partial/showcase-excerpt', {item: item}) %>
            <% } %>

        </div>

    </section>
</div>