<div class="4u 12u(narrower)">
    <section class="special">

        <!-- Image -->
        <a href="#" class="image fit"><img src="<%- item.path %>thumb.jpg" alt="" /></a>

        <!-- Title -->
        <h3><%= item.title %></h3>

        <!-- Description -->
        <p><%- item.excerpt || item.content %></p>

        <!-- Buttons -->
        <ul class="actions">
            <li><a href="#" class="button alt">Learn More</a></li>
        </ul>

    </section>
</div>