<!-- Accepts an itemCount var that controls how many items are shown. -->
<section id="three" class="wrapper style1">
<div class="container">

    <!-- Title -->
    <header class="major">
        <h2>Showcase</h2>
        <p>Ipsum dolor tempus commodo turpis adipiscing adipiscing in tempor placerat<br />
            sed amet accumsan enim lorem sem turpis ut. Massa amet erat accumsan curae<br />
            blandit porttitor faucibus in nisl nisi volutpat massa mi non nascetur.</p>
    </header>

    <!-- Showcase posts -->
    <div class="row">

        <%
            var count = 0;
            for(var i = 0; i < page.posts.length; i++) {
            var item = page.posts.data[i];
            if(item.categories.data.length == 0) { continue; }
            var firstCategory = item.categories.data[0];
            if(firstCategory.name != "showcase") { continue; }
            count++;
            if(itemCount != 0 && count > itemCount) { break; }
        %>
            <%- partial('partial/showcase/showcase-excerpt', {item: item}) %>
        <% } %>

    </div>

    <!-- Go to showcase page -->
    <!--<% if(itemCount != 0) { %>-->
    <!--<a href="<%= config.root %>showcase" class="button alt fit">See all</a>-->
    <!--<% } %>-->

</div>
</section>