<section id="one" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Lorem ipsum dolor</h2>
            <p>Ipsum dolor tempus commodo turpis adipiscing adipiscing in tempor placerat<br />
                sed amet accumsan enim lorem sem turpis ut. Massa amet erat accumsan curae<br />
                blandit porttitor faucibus in nisl nisi volutpat massa mi non nascetur.</p>
        </header>
        <div class="slider">
            <span class="nav-previous"></span>
            <div class="viewer">
                <div class="reel">
                    <div class="slide">
                        <img src="images/slide01.jpg" alt="" />
                    </div>
                    <div class="slide">
                        <img src="images/slide02.jpg" alt="" />
                    </div>
                    <div class="slide">
                        <img src="images/slide03.jpg" alt="" />
                    </div>
                </div>
            </div>
            <span class="nav-next"></span>
        </div>
    </div>
</section>