<section id="banner">
    <div class="inner">
        <h2><%= config.title %></h2>
        <p><%= config.subtitle %></p>
        <ul class="actions">
            <li><a href="#one" class="button big scrolly">Get Started</a></li>
        </ul>
    </div>
</section>