<section id="two" class="wrapper style2">
    <div class="container">
        <div class="row uniform">
            <div class="4u 6u(medium) 12u$(small)">
                <section class="feature fa-briefcase">
                    <h3>Feature 1</h3>
                    <p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
                </section>
            </div>
            <div class="4u 6u$(medium) 12u$(small)">
                <section class="feature fa-code">
                    <h3>Feature 2</h3>
                    <p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
                </section>
            </div>
            <div class="4u$ 6u(medium) 12u$(small)">
                <section class="feature fa-save">
                    <h3>Feature 3</h3>
                    <p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
                </section>
            </div>
            <div class="4u 6u$(medium) 12u$(small)">
                <section class="feature fa-desktop">
                    <h3>Feature 4</h3>
                    <p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
                </section>
            </div>
            <div class="4u 6u(medium) 12u$(small)">
                <section class="feature fa-camera-retro">
                    <h3>Feature 5</h3>
                    <p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
                </section>
            </div>
            <div class="4u$ 6u$(medium) 12u$(small)">
                <section class="feature fa-cog">
                    <h3>Feature 6</h3>
                    <p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
                </section>
            </div>
        </div>
    </div>
</section>