<div class="6u 12u(narrower)">
    <section class="box special">

        <!-- Image -->
        <a href="#" class="image fit">
            <h3><%= item.title %></h3>
            <img src="<%- url_for(item.path) %>thumb.jpg" alt="" />
            <p><%- item.excerpt || item.content %></p>
        </a>

    </section>
</div>