<div class="6u 12u(narrower)">
    <section class="box special">

        <!-- Image -->
        <a href="<%- item.link %>" target="_blank" class="image fit">
            <h3><%= item.title %></h3>
            <img src="<%- url_for(item.thumbnail) %>" alt="" />
            <p><%- item.excerpt || item.content %></p>
        </a>

    </section>
</div>